<component name="ArtifactManager">
  <artifact type="war" name="spring-apache-tiles:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-apache-tiles.war">
      <element id="artifact" artifact-name="spring-apache-tiles:war exploded" />
    </root>
  </artifact>
</component>